<div class="title my-3">
  <h5 class="d-inline bg-gray pr-3 pl-3">マイページ</h5>
</div>

<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered" style="margin-top: 20px;">
  	  <div class="mb-3 d-flex">
	      <h5 class="ml-2 mb-2 font-weight-bold">登録情報</h5>
		    <%= link_to  edit_customers_path, class: "ml-5 px-3" do %>
		      <div class="btnripple">
            <%= image_tag "edit.png", class: 'img-fluid border border-0',size: "50x30"  %>
          </div>
         <% end %>
		  </div>

      <tr>
				<td class="table-secondary" style="width: 30%">氏名</td>
				<td class="text-left"><%= full_name(@customer) %></td>
			</tr>
			<tr>
				<td class="table-secondary">カナ</td>
				<td class="text-left"><%= kana_full_name(@customer) %></td>
			</tr>
			<tr>
				<td class="table-secondary">郵便番号</td>
				<td class="text-left"><%= @customer.postal_code %></td>
			</tr>
			<tr>
				<td class="table-secondary">住所</td>
				<td class="text-left"><%= @customer.address %></td>
			</tr>
			<tr>
				<td class="table-secondary">電話番号</td>
				<td class="text-left"><%= @customer.tell %></td>
			</tr>
			<tr>
				<td class="table-secondary">メールアドレス</td>
				<td class="text-left"><%= @customer.email %></td>
			</tr>
		</table>

    <div class="mt-4 mb-3 d-flex">
      <span class="ml-2 mr-3">配達先</span>
      <%= link_to  addresses_path, class: "ml-5" do %>
		    <div class="btnripple">
          <%= image_tag "list.png", class: 'img-fluid border border-0',size: "50x30"  %>
        </div>
      <% end %>
    </div>
    <div class="mb-3 d-flex">
      <span class="ml-2">注文履歴</span>
	      <%= link_to  orders_path, class: "ml-5" do %>
			    <div class="btnripple">
    	      <%= image_tag "histry.png", class: 'img-fluid border border-0',size: "50x30"  %>
      	  </div>
      	<% end %>
    </div>

  </div>
</div>
