<div class="col">
      <%= form_with url: search_path, local: true, method: :get do |f|%>
        <span class="ml-5">
          <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, prompt: "--ジャンル検索--",
                                  size: "30", class: "form-control", required: "required" %>
        </span>
    　　<%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <div class="row row-cols-4 mt-5">
    <% products.each do |product| %>
      <div class="card border-0">
        <%= link_to product_path(product.id) do %>
        <%= image_tag 'image_huti2.png', class: 'img-fluid card-img-overlay p-0', size: "220x220" %>
          <div class="card-img-top">
            <%= attachment_image_tag product, :image, :fill, 200, 200, format: 'jpeg' , size: "200x200" , fallback: "main-visual-image.jpg", class: 'shadow mb-5 bg-white rounded' %>
            <% end %>
          </div>
        <div class="card-body">
          <div class="font-weight-bold">
            <h5><%= product.product_name %></h5>
          </div>
          <div>
            <% if product.is_sale == false %>
              <p>品切れ中</p>
            <% else %>
              <p>￥<%= product.tax_included_price %>
            (¥<%= product.price.to_s(:delimited) %>)</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>