<div class="row offset-md-2">
    <div class="card border border-0">
      <%= image_tag 'image_huti.png', class: 'img-fluid card-img-overlay p-0', size: "400x150" %>
    <div class="md-5 text-center mb-4 mt-6 card-img">
      <%= attachment_image_tag @product, :image, :fill, 300, 300, format: 'jpeg', size: "300x300" , class: 'shadow mb-5 bg-white rounded', fallback: "main-visual-image.jpg"%>
    </div>
    </div>
    <div class="col-md-5 mt-5 ml-5 text-left">
      <div class="row my-2">
        <h4 class="col font-weight-bold"><%= @product.product_name %></h4>
      </div>
      <div class="row my-2">
        <p class="col"><%= @product.introduction %></p>
      </div>

      <div class="row my-2">
        <div class="col ml-3">
          <% if @product.is_sale == false %>
            <div class="row">品切れ中</div>
          <% else %>
            <div class="row">税込価格</div>
            <div class="row">(税抜価格)</div>
            </div>
          <div class="col my-auto pl-0">¥<%= @product.tax_included_price %> (¥<%= @product.price.to_s(:delimited) %>) </div>
          <% end %>
      </div>

        <div class="row mt-4">
          <% if @product.is_sale == true %>
            <% if customer_signed_in? %>
              <%= form_with(model: @cart, local: true, method: :post, url: carts_path ) do |f| %>
              <span class= "col mr-4">
                <%= f.select :quantity, (1..20).to_a, include_blank: '個数選択'%>
                </span>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.hidden_field :customer_id, value: current_customer.id %>
              <%= button_tag :method => :get, :class => "btn" do %>
              <span class= "col btnripple">
                <%= image_tag "add_cart.png", class: 'img-fluid border border-0',size: "80x50"  %>
              </span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        
        <div class="row mt-2">
        reviews：<%= link_to @product.reviews.count, product_reviews_path(product_id: @product.id) %>
        </div>
        
    </div>
  </div>







