<div class="row">

  <div class="w-50 mx-auto mt-5">
  <%= image_tag 'main-visual-image.jpg', size:'600x400' %>
  
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。

  </div>
</div>
<!--ジャンル検索機能の追加-->

  <div class="row mx-auto w-75">
    <div class="col mb-2 mt-5 text-center">
      <h4>新着商品</h4>
    </div>
  </div>

  <div class="row row-cols-4 mt-5">
    <% @products.first(4).each do |product| %>
      <div class="card border-0">
        <div class="card-img-top">
        <%= link_to (attachment_image_tag product, :image, format: 'jpeg', size: "200x200", class: 'shadow p-3 mb-5 bg-white rounded'), product_path(product.id) %>
        </div>
          <div class="card-body">
            <div class="font-weight-bold">
              <h5><%= product.product_name %></h5>
            </div>
            <div>
              <p>￥<%= product.tax_included_price.floor %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <div class='mx-auto w-75 text-right mb-5'>
    <%= link_to '全ての商品を⾒る >', products_path, class: "text-right ml-3" %>
  </div>
</div>