<div class="row">
  <div class="col">
    <h4><%= full_name(@customer) %>さんの会員情報編集</h4>
  </div>
</div>
<div class="row">
  <div class="col">会員ID</div>
  <div class="col"><%= @customer.id %></div>
</div>
<%= form_with model: @customer, url: admin_customer_path, local:true do |f| %>
  <div class="form-group">
    <%= f.label :last_name, '氏名' %>
    <%= f.text_field :last_name, class: 'form-control' %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name_kana, 'フリガナ' %>
    <%= f.text_field :last_name_kana, class: 'form-control' %>
    <%= f.text_field :first_name_kana, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :postal_code, '郵便番号' %>
    <%= f.text_field :postal_code, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, '住所' %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tell, '電話番号' %>
    <%= f.text_field :tell, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :is_valid, '会員ステータス' %>
    <%= f.radio_button :is_valid, :true %>
    <%= f.label :is_valid, '有効' %>
    <%= f.radio_button :is_valid, :false %>
    <%= f.label :is_valid, '無効' %>
  </div>
  <div class="form-group">
    <%= f.submit '変更を保存', class: 'form-control btn btn-success' %>
  </div>
<% end %>