<div class="row m-4">
  <div class="col">
    <h5 class="d-inline bg-gray pr-3 pl-3 page-title">Customer List</h5>
  </div>
  <div class="col">
    <%= search_form_for @q, url: search_admin_customers_path do |f| %>
    <div class="form-group row">
      <%= f.label :first_name_cont, 'Word', class: 'col-sm-1 col-form-label' %>
      <div class="col-sm-8">
        <%= f.search_field :first_name_cont, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit '検索', class: 'btn btn-outline-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 m-auto page-title">
    <table class="table">
      <thead>
        <tr class="bg-gray">
          <th style="width: 20%">会員ID</th>
          <th style="width: 25%">氏名</th>
          <th style="width: 25%">メールアドレス</th>
          <th style="width: 25%">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <%= link_to full_name(customer), admin_customer_path(customer) %>
            </td>
            <td>
              <%= customer.email %>
            </td>
            <td>
              <% if customer.is_valid == true %>
              <p class="text-success">有効</p>
              <% else %>
              <p class="text-secondary">退会</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-5">
  <div class="col-sm-2 offset-sm-2">
    <%= link_to '会員一覧', admin_customers_path, class: 'btn btn-primary btn-sm' %> 
  </div>
</div>