<div class="row">
  <div class="col">
    <h4><//%= @customer.full_name %>さんの会員詳細</h4>
  </div>
</div>
<div class="row">
  <div class="col">会員ID</div>
  <div class="col"><%= @customer.id %></div>
</div>
<div class="row">
  <div class="col">氏名</div>
  <div class="col"><%= @customer.last_name %> <%= @customer.first_name %></div>
</div>
<div class="row">
  <div class="col">フリガナ</div>
  <div class="col"><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></div>
</div>
<div class="row">
  <div class="col">郵便番号</div>
  <div class="col"><%= @customer.postal_code %></div>
</div>
<div class="row">
  <div class="col">住所</div>
  <div class="col"><%= @customer.address %></div>
</div>
<div class="row">
  <div class="col">電話番号</div>
  <div class="col"><%= @customer.tell %></div>
</div>
<div class="row">
  <div class="col">メールアドレス</div>
  <div class="col"><%= @customer.email %></div>
</div>
<div class="row">
  <div class="col">会員ステータス</div>
  <div class="col">
    <% if customer.is_valid == true %>
    <p class="text-success">有効</p>
    <% else %>
    <p class="text-secondary">退会</p>
    <% end %>
  </div>
</div>