  <% order_products.each do |order_product| %>
  <tr>
    <td><%= order_product.product.product_name %></td>
    <td><%= order_product.tax_included_price.floor.to_s(:delimited) %></td>
    <td><%= order_product.quantity %></td>
    <td><%= (order_product.price * order_product.quantity * 1.08).floor.to_s(:delimited) %></td>
    <%= form_with model: order_product, url: admin_order_product_path(order_product), method: :patch, local: true do |f| %>
      <td id="form-order_product" class="d-flex flex-row">
        <%= f.select :making_status, OrderProduct.making_statuses.keys.to_a, {}, class: 'form-control' %>
        <%= f.submit '更新', class: 'btn btn-success btn-sm ml-3', id: 'order_product_button' %>
      </td>
    <% end %>
    </tr>
<% end %>
