<div class="row m-4">
  <div class="col">
    <h5 class="d-inline bg-gray pr-3 pl-3 page-title">Order history details</h5>
  </div>
</div>
<div class="row page-title">
  <div class="col-sm-2">購入者</div>
  <%= link_to full_name(@order.customer), admin_customer_path(@order.customer), class: 'col-sm-2' %>
  <div class="col-sm-8"></div>
  <div class="col-sm-2">注文日</div>
  <div class="col-sm-10"><%= @order.created_at.strftime('%Y/%m/%d') %></div>
  <div class="col-sm-2">配送先</div>
  <div class="col-sm-10"><%= full_address(@order) %></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-10"><%= full_name(@order.customer) %></div>
  <div class="col-sm-2">支払い方法</div>
  <div class="col-sm-10"><%= @order.payment_method %></div>
  <div class="col-sm-2">注文ステータス</div>
  <div id="form_order">
    <%= render partial: 'admin/orders/form_order', locals: { order: @order} %>
  </div>
</div>
<div class="row pt-3 page-title">
  <div class="col-8">
    <div id="form_order_product">
      <%= render partial: 'admin/order_products/form_order_product', locals: { order_products: @order_products} %>
    </div>
  </div>
  <div class="col-2 text-right">
    <p>商品合計</p>
    <p>送料</p>
    <p>請求金額合計</p>
  </div>
  <div class="col-1 text-right">
    <p>¥<%= @order.total_price.to_s(:delimited) %></p>
    <p>¥<%= @deliverycharge %></p>
    <p>¥<%= (@order.total_price + @deliverycharge).to_s(:delimited) %></p>
  </div>
</div>