<div class="row m-4">
  <div class="col">
    <h5 class="d-inline bg-gray pr-3 pl-3">ジャンル編集</h5>
  </div>
</div>
  <%= form_with model: @genre, url: admin_genre_path, local:true do |f| %>
  <%= render 'shaerd/error_messages', object: f.object %>
  <div class="form-group row">
      <%= f.label :genre_name, 'ジャンル名',  class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-3">
      <%= f.text_field :genre_name, class: 'form-control genre_name', placeholder: 'ジャンル名' %>
    </div>
    <div class="col-sm-2">
      <%= f.submit '変更を保存', class: 'form-control btn btn-success' %>
    </div>
  </div>
  <% end %>