  <%= form_with model: address,local:true do |f| %>
  <%= render 'shaerd/error_messages', object: f.object %>
    <div class="form-group row">
        <%= f.label :postal_code, '郵便番号（ハイフンなし）',  class: 'col-sm-3 col-form-label page-title' %>
      <div class="col-sm-3">
        <%= f.text_field :postal_code, class: 'form-control address_postal_cod page-titlee' %>
      </div>
    </div>
    <div class="form-group row">
        <%= f.label :street_address, '住所', class: 'col-sm-3 col-form-label page-title' %>
      <div class="col-sm-4">
        <%= f.text_field :street_address, class: 'form-control address_street_address page-title' %>
      </div>
    </div>
    <div class="form-group row">
        <%= f.label :receve_name, '宛名', class: 'col-sm-3 col-form-label page-title' %>
      <div class="col-sm-3">
        <%= f.text_field :receve_name, class: 'form-control address_receve_name page-title' %>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
         <%= button_tag :method => :post, :class => "btn clear-decoration", onfocus: "this.blur();" do %>
          <span class= "col btnripple">
            <%= image_tag "save_changes.png", class: 'img-fluid border border-0',size: "70x70"  %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>