<%= form_with model: @address do |f| %>
  <%= render 'shaerd/error_messages', object: f.object %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <div class="form-group row">
      <%= f.label :postal_code, '郵便番号（ハイフンなし）',  class: 'col-sm-3 col-form-label page-title' %>
    <div class="col-sm-3">
      <%= f.text_field :postal_code, class: 'form-control address_postal_code page-title', placeholder: '0000000' %>
    </div>
  </div>
  <div class="form-group row">
      <%= f.label :street_address, '住所', class: 'col-sm-3 col-form-label page-title' %>
    <div class="col-sm-4">
      <%= f.text_field :street_address, class: 'form-control address_street_address page-title', placeholder: '東京都渋谷区代々木神園0-0' %>
    </div>
  </div>
  <div class="form-group row">
      <%= f.label :receve_name, '宛名', class: 'col-sm-3 col-form-label page-title' %>
    <div class="col-sm-3">
      <%= f.text_field :receve_name, class: 'form-control address_receve_name page-title', placeholder: '令和道子' %>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <%= button_tag :method => :get, :class => "btn", onfocus: "this.blur();" do %>
      <div class="btnripple">
        <%= image_tag "new.png", class: 'img-fluid border border-0 ',size: "60x25"  %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
  <div class="row mb-5">
    <div class="col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr class="bg-gray">
            <th style="width: 15%" class="page-title">郵便番号</th>
            <th style="width: 30%" class="page-title">住所</th>
            <th style="width: 15%" class="page-title">宛名</th>
            <th style="width: 30%"></th>
          </tr>
        </thead>
        <tbody>
            <% current_customer.addresses.each do |address| %>
              <tr>
                <td class="page-title"><%= address.postal_code %></td>
                <td class="page-title"><%= address.street_address %></td>
                <td class="page-title"><%= address.receve_name %></td>
                <td>
                  <div class="d-flex justify-content-around">
                    <%= link_to  edit_address_path(address) do %>
                      <div class="btnripple">
                        <%= image_tag 'edit.png', class: 'img-fluid mt-2', size: "60x40" %>
                      </div>
                    <% end %>
                    <%= link_to  address_path(address), method: :delete, remote: true do %>
                      <div class="btnripple">
                        <%= image_tag 'delete.png', class: 'img-fluid my-2 pt-1', size: "75x40" %>
                      </div>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
