
<div class="row">
  <div class="col-md-6">
    <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5 mb-4">ショッピングカート</h5>
  </div>

  <div  class="col-md-2 ml-4 mt-5 py-1"><%= link_to  carts_destroy_all_path,  method: :delete do %>
    <div class="btnripple">
    <%= image_tag 'empty.png', class: 'img-fluid', size: "150x80" %>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
    <div class="col-md-8 pl-5">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="text-left">商品名</th>
            <th class="text-left">単価(税込)</th>
            <th class="text-left">数量</th>
            <th class="text-left">小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @sum = 0 %>
        <% @carts.each do |cart| %>

          <% if cart.customer_id == current_customer.id %>
            <tr>
              <td>
                <%= cart.product.product_name %>
              </td>
              <td>
                ¥<%= cart.product.tax_included_price %>
              </td>
              <td>
                <%= form_with model: cart, method: :patch, local:true do |f| %>
                  <%= f.select :quantity, (1..20).to_a %>
                  <%= f.hidden_field :id, :value => cart.id %>
                  <%= button_tag :method => :get, :class => "btn" do %>
                  <div class="btnripple">
                  <%= image_tag "edit.png", class: 'img-fluid border border-0',size: "50x25"  %>
                  </div>
                  <% end %>
                </td>
                <td>
                  <p>¥<%= (@total=(cart.product.price * 1.08).to_i.floor * cart.quantity).to_s(:delimited) %></p>
                </td>
                  <td>
                    <%= link_to  destroy_cart_path(cart.id), method: :delete do %>
                      <div class="btnripple">
                      <%= image_tag 'delete.png', class: 'img-fluid', size: "80x40" %>
                      </div>
                    <% end %>
                  </td>
                </tr>
                <% @sum += @total %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

 <div class="row">
    <div class="col-md-2 offset-md-1 mt-3">
      <%= link_to   root_path do %>
      <div class="btnripple">
      <%= image_tag 'continue_shopping.png', class: 'img-fluid', size: "80x40" %>
      </div>
      <% end %>
    </div>

    <div class="col-md-3 pl-5 offset-md-2 mb-2">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="align-middle p-2"><p class="font-weight-bold mb-0">合計金額</p></td>
            <td class="align-middle p-2"><p class="font-weight-bold mb-0">¥<%= @sum.to_s(:delimited) %></p></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class=" col-md-8 offset-md-3 mt-3 mb-4">
          <%= link_to  new_order_path do %>
          <p class="btnripple">
          <%= image_tag 'delivery_info.png', class: 'img-fluid', size: "150x100" %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
