<div class="row my-4">
  <div class="col">
    <h5 class="d-inline bg-gray pr-3 pl-3 page-title">Admin sign in</h5>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-2">
        <%= f.label :email, "Email", class: 'page-title' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field mb-2">
        <%= f.label :password, "Password", class: 'page-title' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="actions mt-4">
        <%= button_tag :method => :get, :class => "btn py-0 clear-decoration", onfocus: "this.blur();" do %>
      <span class= "col btnripple ">
        <%= image_tag "log_in.png", class: 'img-fluid border border-0',size: "60x40"  %>
      </span>
        <% end %>
      </div>
    <% end %>
    </div>
</div>
