<div class="row mx-auto">

<h4 class="col-12 pt-5">ログイン</h4>

<div class="float-left col-12 pt-3 ml-4 ">
  
会員の方はこちらからログイン
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field row col-12 pt-5 ml-3">
    <%= f.label "メールアドレス", class: "col-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-4" %>
  </div>

  <div class="field row col-12 pt-3 ml-3">
    <%= f.label "パスワード", class: "col-2" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-4" %>
  </div>

  <div class="actions row col-12 pt-3 ml-3">
    <%= f.submit "ログイン", class: "btn btn-primary col-3" %>
  </div>
<% end %>
</div>

<h4 class="col-12 pt-5 ">会員登録がお済でない方</h4>

<div class="pt-2 px-4 ml-4">
<%= link_to "こちら", new_customer_registration_path %>　から新規登録を⾏ってください。
</div>



</div>