  <div class="row mt-4 mb-4">
    <div class="col">
      <h4 class="d-inline bg-gray pr-4 pl-4">ログイン</h4>
    </div>
  </div>

<div class="float-left col-12 pt-3 ml-4 ">

  会員の方はこちらからログイン
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field row col-12 pt-5 ml-3">
      <%= f.label "メールアドレス", class: "col-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-4" %>
    </div>

    <div class="field row col-12 pt-3 ml-3">
      <%= f.label "パスワード", class: "col-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "col-4" %>
    </div>

    <div class="actions row col-12 pt-3 ml-3">

      <%= button_tag :method => :get, :class => "btn py-0 clear-decoration" do %>
      <span class= "col btnripple ">
        <%= image_tag "log_in.png", class: 'img-fluid border border-0',size: "60x40"  %>
      </span>
        <% end %>
    </div>
  <% end %>

</div>


  <div class="row">
    <div class="col mt-5 mb-4">
      <h4 class="d-inline bg-gray pr-4 pl-4">会員登録がお済でない方</h4>
    </div>
  </div>

  <div class="row-12">
    <div class=" col  ml-5">
      <%= button_tag :method => :get, :class => "btn py-0 clear-decoration" do %>
      <span class= "col btnripple ">
        <%= image_tag "new.png", class: 'img-fluid border border-0',size: "60x40"  %>
      </span>
        <% end %>
    </div>

      <%= link_to  new_customer_registration_path, class: "text-right ml-3" do%>
                <div class="btnripple">
                <%= image_tag 'add_capcake.png', class: 'img-fluid mb-1 ', size: "60x50" %>
                </div><% end %><span>から新規登録を⾏ってください</span>
  </div>


