<div class="row m-4">
  <div class="col">
    <h5 class="d-inline bg-gray pr-3 pl-3 page-title">Order</h5>
  </div>
</div>
<%= form_with model: @order, url: orders_confirm_path, method: :post, local:true do |f| %>

  <div class="form-group">
    <div class="row">
      <%= f.label :payment_method, '支払い方法' %>
    </div>
      <%= f.radio_button :payment_method, 'クレジットカード', checked: true %>
      <%= f.label :payment_method, 'クレジットカード' %><br>
      <%= f.radio_button :payment_method, '銀行振込' %>
      <%= f.label :payment_method, '銀行振込' %>
  </div>
  <div class="form-group">
    <div class="row">
      <%= f.label :address_option, 'お届け先' %>
    </div>
      <%= f.radio_button :address_option, 0, checked: true %>
      <%= f.label :address_option, 'ご自身の住所' %>
      <br>
      &emsp;<%= '〒' + current_customer.postal_code + " " + current_customer.address %><br>
      &emsp;<%= full_name(current_customer) %><br>
      
      <% if @addresses != [] %>
        <%= f.radio_button :address_option, 1 %>
        <%= f.label :address_option, '登録済住所から選択' %>
        <br>
        <%= f.select :address_id, current_customer.addresses.map{|address| ["〒" + address.postal_code + "  " + address.street_address + "  " + address.receve_name , address.id]},
                                                                  {prompt: "選択してください"}, class: "form-control col-sm-6" %>
      <% end %>
      
    <div class="row">
      <div class="col">
        <%= f.radio_button :address_option, 2 %>
        <%= f.label :address_option, '新しいお届け先' %>
      </div>
    </div>
    <div class="row mb-2">
      <%= f.label :postal_code, '郵便番号（ハイフンなし）', class: 'col-sm-3' %>
      <%= f.text_field :postal_code, placeholder: '0000000', class: 'form-control col-sm-3' %>
    </div>
    <div class="row mb-2">
      <%= f.label :address, '住所', class: 'col-sm-3' %>
      <%= f.text_field :address, placeholder: '東京都渋谷区代々木神園町0-0', class: 'form-control col-sm-4' %>
    </div>
    <div class="row mb-2">
      <%= f.label :receve_name, '宛名', class: 'col-sm-3' %>
      <%= f.text_field :receve_name, placeholder: '令和道子', class: 'form-control col-sm-3' %>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
        <%= f.submit "確認画面へ進む", class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>