<div class="row m-4">
  <div class="col">
    <h5 class="d-inline bg-gray pr-3 pl-3">注文情報入力</h5>
  </div>
</div>
<%= form_with model: @order,local:true do |f| %>
  <div class="form-group">
    <div class="row">
      <%= f.label :payment_method, '支払い方法' %>
    </div>
      <%= f.radio_button :payment_method, 0, checked: true %>
      <%= f.label :payment_method, 'クレジットカード' %><br>
      <%= f.radio_button :payment_method, 1 %>
      <%= f.label :payment_method, '銀行振込' %>
  </div>
  <div class="form-group">
    <div class="row">
      <%= f.label :address, 'お届け先' %>
    </div>
      <%= f.radio_button :address, current_customer.address, checked: true %>
      <%= f.label :address, 'ご自身の住所' %><br>
      <%= '〒' + current_customer.postal_code + " " + current_customer.address %><br>
      <%= full_name(current_customer) %><br>
      
      
      <%= f.radio_button :address, current_customer.address  %>
      <%= f.label :address, '登録済住所から選択' %><br>
      <%= f.select :address, {'住所１': 1, '女性２': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      
      <div class="row">
        <div class="col">
          <%= f.label :postal_code, '新しいお届け先' %>
        </div>
      </div>
      <div class="row mb-2">
        <%= f.label :postal_code, '郵便番号（ハイフンなし）', class: 'col-sm-3' %>
        <%= f.text_field :postal_code, placeholder: '0000000', class: 'form-control col-sm-3' %>
      </div>
      <div class="row mb-2">
        <%= f.label :address, '住所', class: 'col-sm-3' %>
        <%= f.text_field :address, placeholder: '東京都渋谷区代々木神園町0-0', class: 'form-control col-sm-3' %>
      </div>
      <div class="row mb-2">
        <%= f.label :receve_name, '宛名', class: 'col-sm-3' %>
        <%= f.text_field :receve_name, placeholder: '令和道子', class: 'form-control col-sm-3' %>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
          <%= f.submit "確認画面へ進む", class: 'btn btn-primary btn-sm' %>
      </div>
      
  </div>

<% end %>