   <div class="row mt-4 mb-4">
    <div class="col">
      <h4 class="d-inline bg-gray pr-4 pl-4 page-title">Confirm order information</h4>
    </div>
  </div>


  <div class="row">

    <div class="col-6">

      <div class="mb-2">注文情報</div>

      <table class="table table-inverse table-bordered">

        <tr class="">
          <td class="text-center", style="width: 25%">注文日</td>
          <td style="width: 75%"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>

        <tr class="">
            <td class="text-center", style="width: 25%">配送先</td>
          <td style="width: 75%"><%= @order.address %></td>
        </tr>

        <tr class="">
            <td class="text-center", style="width: 25%">支払方法</td>
          <td style="width: 75%"><%= @order.payment_method %></td>
        </tr>

        <tr class="">
          <td class="text-center", style="width: 25%">ステータス</td>
          <td style="width: 75%"><%= @order.order_status %></td>
        </tr>

      </table>

    </div>

    <div class="col-3">

      <div class="mb-2">請求情報</div>

      <table class="table table-sm table-bordered align-self-end">

        <tr class="">
           <td class="text-center", style="width: 30%">商品合計</td>
          <td style="width: 70%"><%= (@order.total_price - @deliverycharge).to_s(:delimited) %></td>
        </tr>
        <tr class="">
          <td class="text-center", style="width: 70%">配送料</td>
          <td style="width: 30%"><%= @deliverycharge %></td>
        </tr>
        <tr class="">
          <td class="text-center font-weight-bold", style="width: 70%">ご請求額</td>
          <td style="width: 30%"><%= @order.total_price.to_s(:delimited) %></td>
        </tr>

      </table>

    </div>
  </div>

  <div class="row pt-3">
    <div class="col-10">

      <div class="mb-2">注文内容</div>

      <table class="table table-inverse table-bordered">

        <tr class="bg-light">
          <th class="text-center", style="width: 50%">商品</th>
          <th class="text-center", style="width: 20%">単価（税込）</th>
          <th class="text-center", style="width: 15%">個数</th>
          <th class="text-center", style="width: 15%">小計</th>
        </tr>
          <% @order_products.each do |order_product| %>
        <tr>
          <td><%= order_product.product.product_name %></td>
          <td><%= order_product.tax_included_price.floor.to_s(:delimited) %></td>
          <td><%= order_product.quantity %></td>
          <td><%= (order_product.price * order_product.quantity * 1.08).floor.to_s(:delimited)%></td>
        </tr>
          <% end %>
       </table>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <div class="col-sm-2">
        <%= link_to '注文履歴一覧', orders_path, class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
