<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'icon' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet">
  </head>
  <body>
    <% if current_page?(root_path) %>
      <div id="splash">
      <div id="splash_logo2"><%= image_tag 'nagano_cake_white.png', class: "d-block w-100 " %> </div>
      <div id="splash_logo"><%= image_tag 'welcome_white.png', class: "d-block w-100 fadeUp"%></div>
      </div>
    <% end %>

    <% if admin_signed_in? %>
      <%= render "layouts/adomin_heder" %>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container" id="container">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXv
    ZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="javascripts/public/application.js"></script>
  </body>
</html>
